<ul class="modulos-nav">
{% for m in site.data.modulos %}
  {% if m.slug == include.current %}
  <li class="current">
    <span>
      <span class="mod-num">{{ m.num }}</span>
      {{ m.nombre }}
    </span>
  </li>
  {% elsif m.disponible %}
  <li>
    <a href="../{{ m.slug }}/index.html">
      <span class="mod-num">{{ m.num }}</span>
      {{ m.nombre }}
    </a>
  </li>
  {% else %}
  <li>
    <span style="opacity:0.4; cursor:default">
      <span class="mod-num">{{ m.num }}</span>
      {{ m.nombre }}
      <span class="lock">🔒</span>
    </span>
  </li>
  {% endif %}
{% endfor %}
</ul>
