<nav>
<a class="nav-logo" href="../../index.html"><span>Electro</span>Auto<span> FP</span></a>
<ul class="nav-links" id="navLinks">
<li><a href="../index.html" class="active">Curso</a></li>
<li><a href="../../simuladores/index.html">Simuladores</a></li>
<li><a href="../../index.html#como-funciona">¿Cómo funciona?</a></li>
<li><a href="../../index.html#contacto">Contacto</a></li>
</ul>
<button class="nav-burger" id="burger" aria-label="Menú">
<span></span><span></span><span></span>
</button>
</nav>
